body {
  padding: 10px;
  background-color: #66CCFF;
  font-family: sans-serif;
}

form {
  margin: 0;
}

input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border: 2px solid #FFF;
}

button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

nav {
  height: 100px;
}

h1 {
  margin: 5px;
  float: left;
}
