$background-blue: #66CCFF;
$medium-blue: #0066FF;
$dark-blue: #003399;

body {
  padding: 10px;
  background-color: $background-blue;
  font-family: sans-serif;
}

form {
  margin: 0;
}

input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border: 2px solid #FFF;
}

button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  background-color: $medium-blue;
  color: #FFF;
  border: 2px solid $medium-blue;
}

button:hover {
  background-color: $dark-blue;
  border: 2px solid $dark-blue;
  cursor: pointer;
}

nav {
  height: 100px;
}

h1 {
  margin: 5px;
  float: left;
}

.invalid {
  outline-color: red;
}
