.blossomManager {
  float: right;

  .currentBlossom, .blossomAction, .loading {
    display: inline-block;
  }

  .currentBlossom, .loading {
    margin: 5px;
  }

  .blossomMessage {
    margin: 5px;
    color: red;
  }
}
