$background-blue: #66CCFF;
$medium-blue: #0066FF;

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(100, 100, 100, 0.8);
}
.popup {

  background-color: $background-blue;
  border: solid 1px $medium-blue;
  height: auto;
  width: auto;
  margin: auto;
}
